.App {
  font-size: 20px;
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.user_tile {
  width: 30%;
  margin: 50px auto;
  padding: 5px;
  border-radius: 25px;
  transition: box-shadow .15s linear;
}

.user_tile:hover {
  box-shadow: 5px 5px 10px purple;
}

.user_tile img {
  width: 60%;
  margin: 20px auto;
  border-radius: 100%;
}

a {
  text-decoration: none; 
  color: white;
}

.user_title {
  font-weight: 900;
}